body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

 
 .container {
    width: 90%;
    max-width: 1000px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .header {
    display: flex;
    justify-content: center; /* Centre le titre */
    align-items: center;
    position: relative;
    padding: 20px 0;
}

.user-info {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  gap: 10px;
}

#settingsBtn {
    position: absolute;
    right: 20px; /* Décalé du bord droit */
    top: 50%;
    transform: translateY(-50%); /* Centre verticalement */
    background-color: #007BFF;
}
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    transition: 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
  }
  
  th {
    background-color: #007BFF;
    color: white;
  }
  
  .Cours {
    background-color: #00ff00 !important; /* Vert */
    font-weight: bold;
    border-radius: 5px;

}

  
  .Pause {
    background-color: #ff0000;
    font-weight: bold;
    border-radius: 5px;
  }

  
  /* Bouton d'ouverture du tableau */
#openTableBtn {
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#popupTable {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    display: none; /* Caché par défaut */
    z-index: 1000;
    width: 300px;
}

#popupTable table {
    width: 100%;
    border-collapse: collapse;
}

#popupTable th, #popupTable td {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
}

#closeTableBtn {
    position: absolute;
    top: 5px;
    right: 10px;
    background: red;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}